[2016-08-12 10:59] Kliklink opened #1 "Instagraph Freezes"
Instagraph freezes after one second if you start the app. When you have no internet connection on your phone and open the app, it doesn't freeze. I guess it freezes when catching data...

(bq Aquaris E4.5)

[2016-08-12 16:33] turanmahmudov commented on #1
@Kliklink I compressed images on new version of Donate. Which version do you use? I will update the app to see if the bug fixed.

[2016-08-13 14:56] Kliklink commented on #1
I use the free version right now.

[2016-08-14 14:55] Kliklink commented on #1
Hm, just bought the donate version, but after logging in it just freezes, and shows a spinning wheel.

[2016-08-14 15:04] Kliklink commented on #1
On the bq M10 tablet, the free version works, but the donate version freezes after login.

[2016-08-14 15:09] turanmahmudov commented on #1
@Kliklink I am working on the new version. It will be fixed.

[2016-08-14 15:17] Kliklink commented on #1
Awesome, thank you ;)

[2016-08-14 16:04] turanmahmudov commented on #1
@Kliklink a new update for Instagraph Donate is in the Store. can you please check it?

[2016-08-14 16:14] Kliklink commented on #1
It still freezes. I also tried to remove the app cache and config from the app. This solved the issue on the M10, but version 0.0.5 still freezes on the E4.5

[2016-08-14 16:17] turanmahmudov commented on #1
@Kliklink I use bq aquaris e4.5 and it works without freezing. Does the app crashes on launch?

[2016-08-14 16:21] Kliklink commented on #1
It doesn't. It worked some time ago, but then the freeze issue appeared. If I open the app without internet connection it doen't freeze. I've tried multiple Instagram accounts. More people seem to have this issue (according to the reviews of the app).

[2016-08-19 21:57] Kliklink commented on #1
Version 0.0.7 solved the issue. Thank you! :)

[2016-08-19 21:57] #1 closed

[2016-08-20 12:10] Monmien opened #2 "Option button"
I can't access to options because there is nothing when we click on the button (arrow at right on the photo).
Maybe he's doesn't work or the action area is too small.
I'm on mx4, 0.0.7 update. 😉

[2016-08-20 12:17] turanmahmudov commented on #2
@Monmien Option button only works with your own photo. If you click on Option button on a photo of other user it wouldn't work. Go to your Profile page, click on a photo from grid and click Option button on new launched page.
I will increase the Mouse Area of that button also.

[2016-08-20 13:23] Monmien commented on #2
Ok cool, I will try when I could uploaded a photo with the app 👍

[2016-09-23 20:32] #2 closed

[2016-09-24 11:05] Pharaone opened #3 "Support Ubuntu convergence (Snap)"
Can you add the support for the amd64,i386 and arm64 in instagraph?(you can do a .click, but the sdk will support snap)

[2016-09-24 19:37] turanmahmudov commented on #3
@FaraoneLele yes, I will add

[2016-10-30 15:23] Pharaone opened #4 "Untranslatable app"
Can you add the possibility to translate instagraph? Thanks for this awesome app😉

[2016-10-30 15:42] FaraoneLele commented on #4
I've started the work on Italian translations

[2016-10-30 15:48] turanmahmudov commented on #4
@FaraoneLele you can help to translations from here: https://poeditor.com/join/project/wZiqQyM7ZS

[2016-10-30 15:58] Kliklink commented on #4
@turanmahmudov Could you please add Dutch to the list, I'll translate it.

[2016-10-30 16:00] turanmahmudov commented on #4
@Kliklink I added. Thanks

[2016-10-30 16:13] FaraoneLele commented on #4
I've finished Italian. Can you update the translation? Thanks for this app!

[2016-10-30 16:20] FaraoneLele commented on #4
I've shared for help on translating (on the translators group in telegram)

[2016-10-30 16:22] turanmahmudov commented on #4
@FaraoneLele thanks for your contribution. I updated the translation. :)

[2016-10-30 16:23] FaraoneLele commented on #4
I have seen;)

[2016-10-30 16:32] Kliklink commented on #4
@turanmahmudov Dutch translation is finished ;)

[2016-10-30 16:38] turanmahmudov commented on #4
@Kliklink thanks a lot :) I updated

[2016-10-30 19:02] FaraoneLele commented on #4
turan, you'll want to wait until the fix will not be released. in the meantime you could create milestones with bugs to fix and functions to be added. we can wait for the translations, are not on top of the most important things to do, Instagraph is the best app the same;)

[2016-10-30 19:26] Kliklink commented on #4
@turanmahmudov Dutch translation has been updated.

[2016-10-30 19:47] nfsprodriver commented on #4
Hello, I created a german translation. Would you upload it? Thanks!

[2016-10-30 19:50] turanmahmudov commented on #4
@nfsprodriver I will update it :) Thanks

[2016-10-30 21:12] nfsprodriver commented on #4
By the way, how do I set the language? Does it happen automatically or do I have to modify the UBUNTU_TRANSLATION_DOMAIN line from the pro files?

[2016-10-31 06:04] FaraoneLele commented on #4
@nfsprodriver you have made the translation with poeditor or with a your text editor? If you have used poeditor don't modify anything

[2016-11-02 19:11] FaraoneLele commented on #3
To install Instagraph snap:
sudo snap install --edge --devmode instagraph

[2016-11-04 17:00] Monmien opened #8 ""Posts you've liked" Page"
In the "Post you've liked " page, when I try to scroll down I lost photos and have a message "No photo and video yets"
![screenshot20161031_145554595](https://cloud.githubusercontent.com/assets/14860200/20014730/80804e9a-a2b8-11e6-9e63-63dcef318b6a.png)

[2016-11-20 12:23] ZiTAL opened #9 "Feature: Full size image"
I can't use full size of the image, only croped :(
pd: great work

[2016-11-21 15:32] DansLeRuSH opened #10 "Last #hashtag suppressed when editing post"
Hi,

First of all, thank you for the good job ; the app is nice and so usefull :+1:

Then, I just want to share a little bug, nothing serious, but that is systematic (at least in my case) : when I edit my last post to add some hashtags, the last is systematically erased when I update. For example, I add three hastags like #foodporn #ilovemuffins #cat ... in only have #foodporn #ilovemuffins in my

[2016-11-25 18:06] nfsprodriver commented on #4
Can someone merge the german translation? I can't switch to it manually. It keep english.

[2016-11-30 19:36] mardy opened #11 "Account creation does not seem to work"
I tried signing up for a new account, but it never worked. I tried with many different usernames and used all my e-mail addresses. I got this messages in the log, it would be nice to show them to the user:

[code]

[2016-12-01 11:21] turanmahmudov commented on #11
@mardy thanks for your report. I can't find time to fix bugs. I will try to fix this weekend.

[2016-12-01 11:22] turanmahmudov commented on #10
@DansLeRuSH thanks for your report. I will try to fix this bug this weekend. :)

[2016-12-01 11:23] turanmahmudov commented on #9
@ZiTAL thanks for your report. :)

[2016-12-01 11:24] turanmahmudov commented on #4
@nfsprodriver there are bugs in Ubuntu SDK, so I can't import translations file to the project.

[2016-12-01 11:55] ZiTAL opened #12 ""See All Suggestions" not working"
When you push the "See All Suggestions" link, nothing happens.

[2016-12-01 12:20] turanmahmudov commented on #12
@ZiTAL thanks for your report. I know, it's missing feature. I need an android phone with 6.0 to see how to get all suggestions list. I will fix it.

[2016-12-01 12:24] ZiTAL commented on #12
There is no simulator for do this?

[2016-12-01 12:32] turanmahmudov commented on #12
No but don't worry, I'll fix it soon

[2016-12-01 12:47] ZiTAL commented on #12
don't worry, take it easy ;)

[2016-12-06 09:08] DansLeRuSH opened #13 "Inaccessible Account and " checkpoint_required ""
Hello,

Since yesterday, I can't access to my account on Ubuntu Touch. When I launch the application or when I try to log in, I have this message : " checkpoint_required " (please see the screenshot I attached)

![screenshot20161205_142513466](https://cloud.githubusercontent.com/assets/4101919/20919337/87937210-bb9b-11e6-879d-90893bab0eac.png)

Obviously, Instagraph is unusable.

Best regards,
Fra

[2016-12-06 09:24] turanmahmudov commented on #13
Hi @DansLeRuSH , please open http://instagram.com/ with your web browser and verify your account. Then you can use Instagraph again.

[2016-12-06 09:46] DansLeRuSH commented on #13
My bad, I don't understand but my account already exists but there's no more pictures in it and I can't access.

Sorry about that but, of course, you can close this issue.

Best regards,
Franck

[2016-12-06 09:46] #13 closed

[2016-12-11 23:11] nfsprodriver commented on #4
Okay, how do you usually do this in the SDK? Maybe I'm able to?

[2016-12-15 13:46] DansLeRuSH commented on #13
PS : It seems that Instagram doesn't like not having my phone number and unofficial apps. I can reactivate my account only if I use an official application and fill in my phone number ... too bad for them.

[2016-12-26 03:47] nfsprodriver commented on #4
Just an idea: E.g. Telegram also uses po importing while compilation. Maybe we can use this as preset? I'll check this as early as I can...

[2017-02-10 22:51] tomvicik commented on #4
I've just translated 86% of Czech translation. Have I export it and send you or how does it work please? I'm doing this for the first time...

[2017-03-16 00:52] turanmahmudov commented on #8
fixed

[2017-03-16 00:52] #8 closed

[2017-04-12 21:25] turanmahmudov opened #14 "Doesn't load more in Direct thread"

[2017-04-23 21:28] nfsprodriver commented on #4
I think we really should focus on the possibility of translations because this issue is very unnecessary and weird. I tried very many things without success. Maybe there are problems with the name policy like "-donate".

[2017-04-24 07:59] turanmahmudov commented on #4
@nfsprodriver I am working on Instagraph for new updates. I plan to unpublish "donate" one and continue to update "stable" one weekly. I will fix translation issues soon. Thanks for your participating.

[2017-04-24 08:55] turanmahmudov commented on #3
`snap install --beta instagraph`

[2017-05-27 21:58] zubozrout opened #15 "Please upload Instagraph to OpenStore"
Hello,
I know Canonical deciding to stop working on phones and everything related stroke all of us hard but it seems that despite my initial fears UBports won't be able to handle this there seems to be quite a lot of stuff happening there. A lot of people are interested in the project and it seems to start taking shape.

With that said I wonder if you are interested in continuing Instagraph develo

[2017-05-30 07:10] turanmahmudov commented on #15
Hello,
I'm working on new features of Instagraph nowadays. It'll be in the OpenStore soon. :)
Thanks

[2017-05-31 05:55] zubozrout commented on #15
Hi,
thank you very much for your positive reply :). I am really looking forward to it - it is a great app and perhaps the most appealing of all Ubuntu apps I know of.

[2017-06-03 17:30] nfsprodriver commented on #4
I built latest commit and now translations work!!! That's great!

[2017-06-06 10:54] turanmahmudov commented on #3
`snap install instagraph`

[2017-06-06 10:54] #3 closed

[2017-06-06 10:55] #4 closed

[2017-06-12 16:40] nfsprodriver opened #17 "Preview media without download them by ContentHub"
It would be a very nice feature. Maybe we can find projects implementing this by a popping up window or so...

[2017-06-12 16:54] turanmahmudov commented on #17
@nfsprodriver this feature is implemented in the snap version. Ubuntu phone doesn't support codes that Instagraph needs to play media in the app. Thanks

[2017-08-10 11:40] turanmahmudov commented on #15
https://open.uappexplorer.com/app/instagraph-devs.turan-mahmudov-l

[2017-08-10 12:54] nfsprodriver commented on #15
Thanks for upload the app into the OpenStore, but for me it won't open. Can you check this?

[2017-08-11 08:21] turanmahmudov commented on #15
I uploaded a new version of the app. Can you update it?

[2017-08-11 13:02] nfsprodriver commented on #15
Yep, now it works, thank you! Issue can be closed again 😄

[2017-08-11 13:08] turanmahmudov commented on #15
You're welcome :)

[2017-08-11 13:08] #15 closed

[2017-08-12 00:32] nfsprodriver opened #19 "OpenStore version number below Ubuntu Store"
@turanmahmudov : When searching for updates in the System Settings, version 0.0.4 is shown up, which is older than OpenStore version 0.0.1.x . There are two ways to fix this:
1. Remove Ubuntu Store version
2. Overtake Ubuntu Store version in the OpenStore
Thank you!

[2017-08-12 09:32] turanmahmudov commented on #19
@nfsprodriver I removed Ubuntu Store version. Thanks.

[2017-08-12 10:40] Anne017 opened #20 "Instagraph not 100% translated in French"
Hello,
Instagraph is currenlty not 100% translated in French.
However, I have just made a commit in PO Editor to change that: https://poeditor.com/join/project/wZiqQyM7ZS
Would it be possible to merge this file?
Thank you in advance.

[2017-08-12 21:49] turanmahmudov commented on #20
It's done. Thank you for your support. Translations will be included in the next update.

[2017-08-12 21:49] #20 closed

[2017-08-12 21:50] #19 closed

[2017-08-12 22:59] #14 closed

[2017-08-13 01:01] nfsprodriver commented on #20
Updated german translation on poeditor.com

[2017-09-04 19:36] snydox opened #21 "Your version of Instagram is out of date. Please upgrade your app to log in to Instagram."
I just got the following error message thus I'm unable to log in.

[2017-09-08 08:37] oix opened #22 "Sorry, there aren't currently any apps installed that can provide this type of content"
Hello everyone

When trying to post a picture, or clicking on the (download ?) icon (the arrow), I have this message :

Is it about to connect something ?  Or is there any thing else ?

Thank you

[2017-09-10 17:03] turanmahmudov commented on #22
Hello @oix
Which device do you use?
The app uses content-hub to select or download photos.

[2017-09-10 17:04] turanmahmudov commented on #21
@snydox can you please try to login with any android device first then login with the app again?

[2017-09-19 11:53] vagrale13 opened #23 "Instagraph missing from OpenStore"
I'm trying to install Instagraph but i don't find it in OpenStore.
Device: BQ Aquaris E4.5 Ubuntu

[2017-09-21 22:08] oix commented on #22
Hello

Thank you for your answer

I'm actually using Ubuntu 17.04 64 with Gnome Shell 3.24.2 (on a Lenovo
B50-70 Laptop)

Hope to hear from you soon :)

Regards

____________________________________________________

2017-09-10 18:03 GMT+01:00 Turan Mahmudov <notifications@github.com>:

[2017-10-18 00:53] jasiralavi opened #24 "Cannot use library - error: no app installed..."
Hi and thank you for the great app.
I installed the snap version on my ubuntu 17.04 and initially the cam was not showing. The I got to this page and ran the snap connect entries mentioned. The camera shows up correctly now.
However I am unable to upload pictures from the Library option. I'm getting the below error:
Sorry, there aren't currently any apps installed that can provide this type of con

[2017-10-29 00:44] nfsprodriver commented on #23
Duplicate of #15 , now it's already in the OpenStore. Thanks!
This issue can be closed...

[2017-10-29 00:46] nfsprodriver opened #25 "Permission problems after building"
Hello, I tried to build the latest commit. After installing the click package on my phone the app crashes due to a permission error. I think that happened some time ago. Anyone else with the same problem or having a solution?

[2017-11-05 16:44] #23 closed

[2017-11-05 16:47] turanmahmudov commented on #25
Hello. I'm not having the same issue. Do you know what permission error caused the crash?

[2017-11-05 16:51] turanmahmudov commented on #24
Hi. Unfortunately there isn't any way to carry any "file manager" with the app in snap version, or there is no way to use content-hub with snapcraft. I am looking for ways to fix it.

[2017-11-05 16:52] turanmahmudov commented on #22
Duplicate of #24

[2017-11-05 16:52] #22 closed

[2017-11-05 17:00] nfsprodriver commented on #25
When I build it with the SDK there's no error message. After I installed the click package on my phone it doesn't seem to have the permission to launch the executable file (also tested with chmod). I'll keep an eye on that and retry it. Maybe it's just a temporary issue at my device.

[2017-11-05 17:06] nfsprodriver commented on #25
Sorry, still not working.

[2017-11-05 17:06] nfsprodriver commented on #25
`18:02:39: Führe Schritte für Projekt Instagraph aus...
18:02:39: Starte "/home/bjarne/.config/QtProject/qtcreator/ubuntu-sdk/device-armhf-1504/qt5-qmake-arm-linux-gnueabihf" /home/bjarne/Instagraph/Instagraph.pro -spec ubuntu-arm-gnueabihf-g++
18:02:40: Der Prozess "/home/bjarne/.config/QtProject/qtcreator/ubuntu-sdk/device-armhf-1504/qt5-qmake-arm-linux-gnueabihf" wurde normal beendet.
18:02:40:

[2017-11-05 18:04] nfsprodriver opened #26 "Rolling dependencies update"
May we update the dependencies periodically to have best compatibility with official client?

[2017-11-10 14:05] turanmahmudov commented on #25
@nfsprodriver, in **Instagraph/Instagraph.pro** `target.path` is wrong. Change it to
`target.path = $${UBUNTU_CLICK_BINARY_PATH}` to be able to run on phone.

[2017-11-11 01:47] nfsprodriver commented on #25
@turanmahmudov Great! That fixes the issue.

[2017-11-12 22:27] #25 closed

[2017-11-20 15:15] Alfetta159 opened #28 "Application apparently doesn't support two-factor authentication"
Does this support two-factor authentication? It should. Instagram doesn't seem to allow you to generate a one time app password.

[2017-12-08 14:33] userj opened #29 "Videos don't animate"
When playing video, there is sounds but the image doesn't change.

[2017-12-09 13:44] turanmahmudov commented on #29
@userj Ubuntu touch (15.04) doesn't support the media which Instagram uses for videos. #17

[2017-12-09 13:44] #29 closed

[2017-12-25 10:49] Dikkeboktor opened #30 "Direct Messages"
Recently, I haven't been able to open a conversation in direct messages, Instagraph just keeps loading. Messages can however be sent and the last message sent in a conversation does appear as a preview in the list of conversations.

[2018-01-02 21:37] #30 closed

[2018-01-04 07:50] turanmahmudov opened #31 "Following Recent Activity - load more"

[2018-01-04 08:01] #31 closed

[2018-01-04 08:04] turanmahmudov opened #32 "Mark Direct Inbox Thread seen"

[2018-01-04 08:27] #32 closed

[2018-01-04 08:30] turanmahmudov opened #33 "Mark Activity as seen"

[2018-01-04 08:31] turanmahmudov opened #34 "Login with Facebook"

[2018-01-04 15:24] Dikkeboktor opened #35 "Opening Direct Message Conversations"
Opening a conversation which is already in the list of conversations results in the app trying to load conversation history endlessly with no result.

Device: BQ Aquaris E5 with UBports OTA 3

[2018-01-05 21:28] Dikkeboktor opened #36 "Liking comments doesn't behave as expected"
When I tap the heart icon to like a comment in Instagraph, nothing happens. Only when I tap the heart on a second comment under the same picture does it like both comments. Un-liking comments has the same issue.

[2018-01-07 16:35] SanderKlootwijk opened #37 "Heart icon after dubble tap"
In the official Instagram app there will appear a big white heart over the picture for a few seconds. It would be awesome if this could be implemented in Instagraph too.

[2018-01-07 21:27] #37 closed

[2018-01-29 22:51] #35 closed

[2018-01-29 22:52] turanmahmudov commented on #26
Updated to the latest API

[2018-01-29 22:52] #26 closed

[2018-01-29 23:28] turanmahmudov opened #38 "Save media & See saved media"

[2018-02-05 15:14] #38 closed

[2018-02-19 21:21] berkantkz opened #40 "Logging in to two-factor authentication enabled account"
I had enabled two-factor authentication method for my account. When I enter click on "Log in", I receive a security code that is used to verify it's me. Even though I receive the security code, I cannot see any screen to enter and verify myself.

[2018-02-19 21:26] turanmahmudov commented on #40
Unfortunately this feature is not added to Instagraph yet. I will add it soon. Thanks for reporting.

[2018-02-19 21:33] turanmahmudov commented on #40
Duplicate of #28

[2018-02-19 21:33] #40 closed

[2018-02-19 22:11] berkantkz commented on #40
I had actually taken a look over the issues in order not to duplicate but I couldn't see it somehow..

[2018-05-11 00:01] EPadronU opened #43 "The snap is not working"
## Issue

The application doesn't work.

## Description

I get the following message: `/snap/instagraph/70/bin/instagraph: line 13: /snap/instagraph/70/opt/Instagraph/bin/Instagraph: No such file or directory`.

## System information:

[code]

[2018-05-15 03:05] jeremyllawson commented on #43
Getting the same error here as well. Ubuntu MATE 16.04, 4.13.0-39-generic

[2018-05-29 20:58] zubozrout opened #44 "Please upload a Xenial version of your app to OpenStore"
Hello,
I've just checked and it is super easy to build your app for Xenial, just using these instructions:
https://forums.ubports.com/topic/1215/updating-apps-to-16-04

That is updating the apparmor and manifest files based on the linked instructions.

Could you please do that and upload that build to OpenStore. The Vivid application sort-of works but isn't stable enough as it sometimes crashes an

[2018-05-29 21:00] zubozrout commented on #44
If following the porting instructions you may also need to click-review the final click package. For Xenial you may need to use the package from this repository: https://launchpad.net/~bhdouglass/+archive/ubuntu/clickable

[2018-06-05 05:56] lmore377 commented on #43
Same on Ubuntu 18.04

[2018-06-12 16:05] juusechec opened #45 "No such file or directory"
I've installed with
[code]
But when I want to execute, appear the error:
[code]

[2018-07-01 12:49] turanmahmudov commented on #45
Duplicate of #43
Working on to fix it.

[2018-07-01 12:49] #45 closed

[2018-07-01 14:10] turanmahmudov commented on #43
fixed

[2018-07-01 14:10] #43 closed

[2018-07-01 14:46] #44 closed

[2018-07-23 16:04] Mahdi321 opened #47 "Add proxy setting"
Please Add proxy setting, accessible before login

[2018-09-29 20:33] toxazol opened #48 "so how am i supposed to log in?"
![screenshot from 2018-09-29 23-32-10](https://user-images.githubusercontent.com/19937990/46250281-05db2880-c440-11e8-8711-836ff2cab328.png)

[2018-10-06 22:58] weyderfs commented on #40
Some news about this bug?

[2018-11-05 19:32] idekovets commented on #21
Instagram has more new functions. Update needed anyway.

[2018-11-18 14:34] idekovets opened #49 "Feed looping"
Feed loops. 13 publications are duplicated, after (26) new ones are uploaded. Also likes are not fixed on the server.

[2018-12-12 00:05] Markm52 commented on #40
Still here on desktop what gives

[2019-01-09 14:40] XxPhenixX opened #50 "More "Tap-Function" in the Stories"
Thanks for that great app!

Now you can only skip the Story by tapping anywhere at the display..

Can you add the function:
1) Stop the current Story by tap and hold
2) Go backward to the previous story by tapping on the left side on the screen
3) Go forward to the next story by tapping on the right side on the screen

Thank you again for all the great work!
Martin

[2019-02-22 10:59] kugiigi opened #51 "Viewing a Post doesn't load"
## Steps to Reproduce
1. Go to your profil or someones else's profile page.
2. Select any of the posted photos.

## Expected Results
The post including the photo will be displayed.

## Actual Results
It just shows a blank page.

[2019-03-07 16:42] Gabriele69 opened #52 "Problems on displaying stories"
**### Steps to Reproduce**
open a story with a tap

**### Expected Results**
the story opens up showing the content

**### Actual Results**
It just shows a blank page.

NOTE: the stories worked before the last updates (I'm on the RC channel 2019-W09 with a BQ E4.5)

[2019-03-18 07:40] turanmahmudov commented on #52
Hi @Gabriele69
I updated the app in OpenStore. The update fixes the bug.
Thanks.

[2019-03-18 07:40] #52 closed

[2019-03-18 07:40] turanmahmudov commented on #51
Hi @kugiigi
I updated the app in OpenStore. The update fixes the bug.
Thanks.

[2019-03-18 07:40] #51 closed

[2019-03-18 13:38] userj opened #53 "Text color not compatible with dark theme"
When system dark theme is used , instagraph text color makes it difficult to read.
Basically black on black.

[2019-03-27 19:02] ahmetaydin-aa opened #54 "Nothing works..."
I am using Ubuntu 18.04 LTS and I installed the app with snap. But when I try to login or signing up, nothing happens... This is the screenshot of the app:

![image](https://user-images.githubusercontent.com/17148477/55104681-eca7f180-50db-11e9-919c-dd7f2782827f.png)

[2019-03-28 02:32] shaun-of-the-dead opened #55 ""Sorry, there aren't currently any apps installed that can provide this type of content.""
Thanks for this.

I'm using Ubuntu 18.04.02. Installation using Snap was fast and easy. I was able to login just fine and was able to browse my Instagram follows, explore, and all the rest.

Unfortunately, the most important feature, I'm not able to do. When clicking to post a new photograph, then navigating to 'Library', I'm being told the above-mentioned error message.

Am I doing something wron

[2019-04-04 07:44] SanderKlootwijk opened #56 "Account information is empty"
Since a couple of days the account information (name, bio, followers, profile picture) is empty on the account page. The problem persists both on the page of the current user and on pages of other users.

![screenshot20190404_094238613](https://user-images.githubusercontent.com/12654277/55538210-36856e80-56be-11e9-910a-7759502084af.png)
![screenshot20190404_094400843](https://user-images.githubuse

[2019-06-02 22:42] ItsYanko commented on #53
Yes, that would be great
*There are 3 themes now: normal,dark and gradient*

[2019-06-02 22:48] ItsYanko commented on #56
Still Not fixed 😕

[2019-06-03 18:10] turanmahmudov commented on #56
I'll try to send update tomorrow.

[2019-06-05 11:06] iGadget commented on #24
Would this help? https://docs.snapcraft.io/personal-files-interface

[2019-06-05 19:16] ItsYanko commented on #55
Hello @shaun-of-the-dead

that error probably means that ypu have no apps that can provide media to the Instagraph App, or it does not have permissions to do that.

try installing via the OpenStore

Really sorry for this bad english
Yanko

[2019-06-05 19:24] ItsYanko opened #58 "Feed update not working"
When updating feed (home), by scrolling the page, it empties the feed and does not show any publications

thanks
Yanko

[2019-06-08 16:36] turanmahmudov commented on #56
Fixed.

[2019-06-08 16:36] #56 closed

[2019-06-08 18:12] userj opened #59 "Can't post anything"
Device: Mako
Channel: ubports devel
Build: 2019-06-08

Posting a photo doesn't seem to do anything. It looks like it upload, but then the photo never shows up.

[2019-06-08 18:21] SanderKlootwijk commented on #56
Awesome! Thank you!

[2019-06-09 10:49] turanmahmudov commented on #58
Fixed.

[2019-06-09 10:49] #58 closed

[2019-06-09 11:41] turanmahmudov commented on #49
Home page looping is fixed. Will update the app in the store soon.

[2019-06-09 11:41] #49 closed

[2019-06-09 15:03] turanmahmudov commented on #28
Fixed.

[2019-06-09 15:03] #28 closed

[2019-06-10 18:55] ItsYanko commented on #56
@turanmahmudov when will you send an update to the OpenStore?

[2019-06-10 18:57] ItsYanko commented on #59
How you installed the app? snap? openstore🤔🤔?

[2019-06-10 22:28] userj commented on #59
Installed from the openstore on ubuntu touch.
Thanks

[2019-06-11 03:52] turanmahmudov commented on #56
Tomorrow

[2019-06-14 14:30] Sammaya opened #60 "C'ant login to my acount....."
Well i have a problem, I whrite the good username and the good password but nothing .....the app say to me "wrong password " I don't uderstand.....

[2019-06-14 15:30] turanmahmudov commented on #60
are you getting "wrong password" error exactly?

[2019-06-14 17:14] Sammaya commented on #60
"The password entered is incorcert, please try again"

[2019-06-14 19:26] turanmahmudov commented on #60
OK. Thanks for reporting. Let me debug the code for more info.

[2019-06-15 11:46] Sammaya commented on #60
Thx ☺

[2019-07-31 15:19] probonopd opened #63 "Desktop version"
Can a desktop version be made of this? Without snap

[2019-07-31 16:46] depau opened #64 "Include QT platform wayland-egl plugin"
Hello,
I'm trying to run Instagraph (`snap run instagraph`) on Wayland with `QT_QPA_PLATFORM=wayland-egl` set in `/etc/environment`.

I get the following error:

[code]

Usually I solve this problem by overriding the variable with `xcb`, however this does not work with Snap as it doesn't use the current shell environment. I believe it gets a brand new one from PAM.

Is it possible to include the `

[2019-08-01 03:13] wencha opened #65 "Cannot post image"
When trying to post an image, it goes everything fine but the post is never made. Logs say:
`qrc:///qml/ui/CameraCaptionPage.qml:223: TypeError: Cannot read property 'id' of undefined`
I'm on Ubuntu 18, installed using `snap`

[2019-08-02 10:35] j2g2rp opened #66 "Ubuntu Touch: Can't handle correctly instagram links."
Actual behavior:

When you tap in UT a link to instagram page the link opens the app but the app doesn't redirects you to the page, it just opens home screen.

Expected behavior:
It opens the app and the app focus on the correct page of site.

(thanks for the app)

[2019-08-11 06:30] IanBlakeley opened #67 "Login fails with Challege Required"
Each time

 I try and login the response  is Challenge Required, if I then use the web browser I am asked to confirm the attempt is me and then the browser opens, there seems no way to authenticate from the app and the web authorisation only works for the web session

![instagraph fail2](https://user-images.githubusercontent.com/36182904/62830637-7815bf80-bc44-11e9-9624-bd91f40eb56a.jpg)
![instagr

[2019-08-21 15:51] ItsCDubb commented on #67
I'm having the same issue and I have no viable workaround either
![Screenshot from 2019-08-21 08-40-17](https://user-images.githubusercontent.com/40346297/63447373-8496d680-c401-11e9-9cb9-2f9a769bf4bb.png)

[2019-08-23 21:10] ItsCDubb opened #68 "App not responsive in nature"
When I finally get into the app, I'm viewing this and it doesn't matter if I maximize the screen or not, but if I make it smaller then buttons disappear completely

![Screenshot from 2019-08-23 16-01-19](https://user-images.githubusercontent.com/40346297/63623835-40056980-c5c0-11e9-9179-c7ce3eee78fb.png)

[2019-09-17 11:39] shinya-chan opened #69 "doesn't launch"
hello i just used snap to install instagraph but it doesn't launch

heres what i get for launching :+1:
`[  16:02:54  ]-[  shinya @ shinya  ]  >>  [ ~ ]
 └──╼> $ instagraph
Gtk-Message: Failed to load module "gail"
Gtk-Message: Failed to load module "atk-bridge"
Gtk-Message: Failed to load module "canberra-gtk-module"
Qt: Session management error: None of the authentication protocols specified are

[2019-10-15 17:26] polesapart commented on #67
+1

[2019-10-30 17:13] fredldotme commented on #67
Same issue here, running on Ubuntu Touch.

[2019-11-08 05:11] mkorobkov commented on #67
To solve this problem, I went into the application on the mobile and confirmed that I was trying to log into my account

[2019-11-09 01:19] linuxhackerguy commented on #67
yeah I had the same issue. With my server which is on a vpn. But strangely when i used the app on the 32 bit ubuntu server. it worked ????

[2019-11-27 12:16] fieldse opened #70 "HiDPI scaling"
Hi there. Thanks for the awesome tool.
Having an issue with scaling on HiDPI screens.

### Summary
App is tiny and unusable on high-resolution screens.

### Problem
On opening the app on a machine with a high resolution monitor, the app is tiny and unscalable, rendering the text and interface nearly impossible to see.

**Expected behavior**
App should respect Qt scaling environment settings, and s

[2020-02-12 18:24] jasaldivara commented on #64
I have this same issue.

This is the output when I try tu run Instagraph from de command line:

I'm on Fedora 31, x86-64, Gnome 3.34.3 on Wayland

[2020-02-27 08:31] rubencarneiro commented on #67
I got the same issue. Unable to login chalenge_required

[2020-02-27 09:17] rubencarneiro opened #72 "Please update your build tutorial"
hi, can you please update the build tutorial and maybe also integrate with clickable,

[2020-02-27 09:24] rubencarneiro opened #73 "Unble to play video"
Play vides is useless on the app, is unable to play it.

[2020-03-02 01:36] Lucapz commented on #67
Why is the Dev ignoring this?

[2020-03-04 21:35] rubencarneiro commented on #67
http://paste.ubuntu.com/p/PGxNRGv7Wr/
Theres a log if it help, seem to be an app armor issue

[2020-03-11 15:55] idekovets commented on #67
+1 I can't login on Nexus 5 powered by UT last Stable.

[2020-05-31 00:04] MarioMey commented on #69
Same here.

I did: `apt-get install libatk-adaptor libgail-common` from [here](https://askubuntu.com/a/769033/37894), and it says that I have both installed.

[2020-06-25 10:38] aviwad commented on #40
still bugs out on ubports

[2020-06-25 23:26] j2g2rp opened #76 "Feature request: Multiarch support"
It would be nice to have multiarch support now that pinephone is out.

[2020-07-21 16:46] jedi2light commented on #76
I`ve compiled it for my pinephone, it was easy using `clickable --arch=arm64 --ssh ...`

[2020-07-21 17:40] j2g2rp commented on #76
wow worked like a charm. Thanks @jedi2light

[2020-07-22 12:21] sTiKyt commented on #67
I accept that it was me in browser, but it still doesn't let me login

[2020-08-19 10:13] mareekkk opened #78 "2 Factor Login Issues"
The app does not work if you have a 2factor auth in your account enabled. Logging in does nothing.

[2020-08-24 10:57] rabywastaken opened #79 "Update your app to login with two-factor authentication."
![Screenshot from 2020-08-24 11-57-12](https://user-images.githubusercontent.com/31973406/91037476-fa2f1700-e600-11ea-85b6-4f57c361889c.png)

[2020-08-24 10:58] #79 closed

[2020-08-24 10:58] rabywastaken commented on #79
Duplicated issue, should've checked first

[2020-08-24 10:59] rabywastaken commented on #78
same here
![Screenshot from 2020-08-24 11-57-12](https://user-images.githubusercontent.com/31973406/91037655-4d08ce80-e601-11ea-879a-a7931fef22ba.png)

[2020-10-22 12:00] Vistaus commented on #76
@jedi2light Doesn't work. It starts fine, but ends with

[code]

Not sure what that means as my connection is fine.

[2020-10-22 12:11] Vistaus opened #80 "Cannot login for reasons unknown"
I try to log in and it shows a little progress bar, but then disappears and it just doesn't log me in. I don't have 2FA enabled. I don't know how to get any terminal output to help you figure it out, though.

Tried with the latest Instagraph from OpenStore as well as with the latest git master build built with clickable.

[2020-10-22 12:18] Vistaus commented on #80
FWIW, the snap on my desktop doesn't let me log in either, but it doesn't display any useful output. It just says:

`APP_ID isn't set, the handler ignored
qml:
qml: login failed
qml:
qml: login failed

`

[2020-11-01 23:07] rubencarneiro commented on #76
https://gitlab.com/rubencarneiro/Instagraph/-/pipelines/210355060

[2020-11-17 18:49] Vistaus commented on #80
Apparently, it had to do with my password: Instagraph, unlike official Instagram, doesn't support 16-char passwords.
https://gitlab.com/rubencarneiro/Instagraph/-/issues/1

[2020-11-17 18:49] #80 closed

[2021-01-06 16:58] assarj opened #81 "Instagraph doesn`t work on Manjaro, missing dependecies"
Here is all details about it

https://forum.manjaro.org/t/error-when-trying-to-launch-instagraph/46626/9

[2021-01-11 17:05] turanmahmudov commented on #73
fix will be available in the next update.

[2021-01-11 20:32] rubencarneiro commented on #73
Hi i tried to contacted you, before i made a fork of you instagraph.

A segunda, 11/01/2021, 17:05, Turan Mahmudov <notifications@github.com>
escreveu:

[2021-01-11 20:35] rubencarneiro commented on #73
Its avaible on gitlab im using ci to build both armhf amr64.

A segunda, 11/01/2021, 17:05, Turan Mahmudov <notifications@github.com>
escreveu:

[2021-01-20 09:19] dtantono opened #82 "Feature request]: Add Flatpak & deb package"
it would be great if we could have at hand this app in a Flatpak and deb format.
**O.S:** Ubuntu

**O.S. version:** 20.04

**version 0.4

[2021-03-14 15:50] guipan opened #83 "Instagram Direct does not work with live videos"
It tells me that I've to use the latest App to see the live videos. But this is an unofficial app.

[2021-03-22 18:23] JanConGitHub opened #85 "Norwegian translation (nb.po)"
# SOME DESCRIPTIVE TITLE.
# Copyright (C) YEAR THE PACKAGE'S COPYRIGHT HOLDER
# This file is distributed under the same license as the PACKAGE package.
# FIRST AUTHOR <EMAIL@ADDRESS>, YEAR.
#
#, fuzzy
msgid ""
msgstr ""
"Project-Id-Version: PACKAGE VERSION\n"
"Report-Msgid-Bugs-To: \n"
"POT-Creation-Date: 2019-06-09 15:00+0000\n"
"PO-Revision-Date: YEAR-MO-DA HO:MI+ZONE\n"
"Last-Translator: FULL N

[2021-05-12 14:37] VelocityDesign commented on #64
This application failed to start because it could not find or load the Qt platform plugin "wayland-egl".

Available platform plugins are: eglfs, linuxfb, minimal, minimalegl, offscreen, ubuntumirclient, xcb.

Reinstalling the application may fix this problem.
Aborted (core dumped)

This is what I'm getting. I'm using Arch with Gnome (Wayland).

[2022-04-05 00:45] #85 closed

[2022-04-08 00:16] turanmahmudov commented on #59
@userj https://open-store.io/app/instagraph-devs.turan-mahmudov-l can you test it again? It should work now.

[2022-04-11 12:29] nitanmarcel opened #86 "Stories timer starts before the story loads"
The timer for stories starts before the story itself is fully loaded. The story starts with a black background for a few miliseconds then it fully loads, the timer starts as soon as the black background is visible.

[2022-04-11 12:30] nitanmarcel opened #87 "Watched stories don't get registered. [Ubuntu Touch]"
Currently there's no checks for which stories you've watched and which of them you didn't so it always starts from the first story on the respective profiles

[2022-04-11 12:33] nitanmarcel opened #88 "Glitching video container. [Ubuntu Touch]"
After a video stops the frame where the video is displayed starts glitching out flipping itself over and over again. When you start scrolling the glitch happens faster.

[2022-04-20 13:04] liltingle opened #89 "Version --edge not run"
I have the arch operating system, in the version of snap --edge I get this error.

r/lib/snapd/desktop/applications/instagraph_instagraph.desktop /var/lib/snapd/snap/bin/instagraph
Qt: Session management error: Authentication Rejected, reason : None of the authentication protocols specified are supported and host-based authentication failed
qrc:///Main.qml:1:1: module "QtQuick" version 2.12 is not

[2022-04-20 18:51] turanmahmudov commented on #89
Thank you for the bug report. Yes, I am aware of that, working on it.

[2022-04-21 00:12] userj commented on #59
I pressed the "+" button. Sometimes it crashes the app. Sometimes it goes to the camera, but taking a picture makes the shutter sound and nothing happens from there.
I'm now testing on the  pixel 3a (sargo)

[2022-04-21 19:21] turanmahmudov commented on #59
@userj yes, I am aware of that. Taking pictures seems don't work for now. I will fix it soon.

[2022-04-21 19:43] turanmahmudov commented on #59
@userj it's fixed in v0.1.2.3. The update is live

[2022-04-21 21:21] userj commented on #59
Thank you for the quick fix. I was able to post something using the photo from the gallery. Also, it looks like taking pictures works. Sometimes still crashes when pressing the "+" button.

[2022-04-22 21:07] turanmahmudov commented on #59
@userj yes, I am aware of that too. I don't know why but pressing the + button on Home page crashes the app.

[2022-05-10 07:49] playforvoices1 opened #90 "No Login possible (Ubuntu Touch - OnePlus 5T)"
Hi. I am using the app with Ubuntu Touch on a OnePlus 5T. The app opens and the login screen appears. There, I enter my user data and click the login button.

Then nothing happens. If I use a wrong password, the error message "wrong password" comes up.

[2022-06-18 16:41] TriVoxel commented on #90
Same on Pixel 3a

[2022-08-27 16:20] paulsybrandy commented on #67
Still no work around?

[2022-09-13 18:31] Vistaus commented on #90
No issues here on a Pixel 3a.

[2022-09-13 18:32] Vistaus commented on #63
I support this! This would be very awesome to have.